<html>
    <head>
        <title>Welcome!</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <style media="screen">
            h1 {
            text-align: center
        }
            h1 {
            font-size: 40pt
            }
            p {
            text-align: center
            }
            p1 {
            font-size: 20pt
            }
            p {
            font-size: 15pt
            }

    </style>
    
    </head>
    <body>

        <h1>CATEG <img src="/static/images/cyclonenew.jpg" width="50" height="50" /> REEZ</h1>  
        <p>CHOOSE A CATEGORY</p>
    <p1>
   <div class="container">
      <div class="row">
        <div class="col-6 col-md-4">
<form method='POST' action='/colors'>
            <input type="submit" value="Colors" />
        <div>
            <img src="/static/images/rainbow-colors-background.jpg" width="300" height="200" />
        </div>
        </form>
</div>
<div class="col-6 col-md-4">
<form method='POST' action='/presidents'>
            <input type="submit" value="Presidents" />
        <div>
            <img src="/static/images/benfranklin.jpg" width="300" height="200" />
        </div>
        </form>

        </div>
        <div class="col-6 col-md-4">
<form method='POST' action='/countries'>
            <input type="submit" value="Countries" />
        <div>
            <img src="/static/images/World_Map.jpg" width="300" height="200" />
        </div>
        </form>
        </div>
        <div class="col-6 col-md-4">
 <form method='POST' action='/fruits'>
            <input type="submit" value="Fruits" />
        <div>
            <img src="/static/images/IvBveJe.jpg" width="300" height="200" />
        </div>
        </form>
        </div>
        <div class="col-6 col-md-4">
<form method='POST' action='/planets'>
            <input type="submit" value="Planets" />
        <div>
            <img src="/static/images/planets-and-galaxy-6703-1920x1200.jpg" width="300" height="200" />
        </div>
        </form>
        </div>
       <div class="col-6 col-md-4">
 <form method='POST' action='/USStates'>
            <input type="submit" value="US States" />
        <div>
            <img src="/static/images/Louisiana-Purchase.jpg" width="300" height="200" />
        </div>
        </form>
       </div>
        
        </p1>
    </body>
</html>


    